@import 'common';

/* top-banner */
.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: block;
    z-index: 999;
    text-align: center;
    background-color: #060d2f;
    p {
        position: relative;
        display: inline-block;
        font-size: 16px;
        color: #fff;
        line-height: 50px;
        font-weight: 500;
        img {
            display: inline-block;
            position: absolute;
            top: -13px;
            right: -50px;
            width: 41px;
        }
    }
    @media(min-width: $md) {
        p {
            font-size: 26px;
            line-height: 70px;
            img {
                top: -40px;
                right: -140px;
                width: auto;
            }
        }
    }
}

/* header */
#header {
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
    .container {
        position: relative;
        .logo {
            position: absolute;
            top: 50%;
            left: 10px;
            width: 36px;
            display: block;
            font-size: 0;
            transform: translateY(-50%);
            > a {
                display: block;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        #gnb {
            font-size: 0;
            text-align: right;
            > ul {
                > li {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 25px;
                    > a {
                        display: block;
                        font-size: 12px;
                        color: #222;
                        line-height: 40px;
                        font-weight: 500;
                        @include transition();
                        &:hover {
                            color: $kcolor;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        border-bottom-width: 2px;
        .container {
            .logo {
                width: 76px;
                left: 25px;
            }
            #gnb {
                > ul {
                    > li {
                        margin-right: 60px;
                        > a {
                            font-size: 18px;
                            line-height: 78px;
                        }
                    }
                }
            }
        }
    }
}

/* footer */
#footer {
    padding: 35px 0;
    background-color: #303030;
    .container {
        position: relative;
        .logo {
            font-size: 0;
            width: 55px;
            img {
                width: 100%;
                display: block;
            }
        }
        .sns-list {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 0;
            text-align: right;
            > ul {
                > li {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    > a {
                        display: block;
                        width: 35px;
                        @include transition();
                        &:hover {
                            opacity: .8;
                        }
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .terms {
            margin-top: 25px;
            > ul {
                font-size: 0;
                > li {
                    display: inline-block;
                    vertical-align: top;
                    > a {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 12px;
                        color: #fff;
                        font-weight: 500;
                        @include transition();
                        &:hover {
                            opacity: .7;
                        }
                    }
                    &:after {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        top: 2px;
                        width: 1px;
                        height: 8px;
                        content: '';
                        margin: 0 8px;
                        background-color: #989898;
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .company {
            margin-top: 25px;
            > ul {
                font-size: 0;
                > li {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 10px;
                    color: #fff;
                    font-weight: 300;
                    line-height: 16px;
                    margin-right: 10px;
                    letter-spacing: 0;
                    address {
                        display: inline;
                        font-style: normal;
                    }
                    a {
                        display: inline;
                        color: #fff;
                    }
                }
            }
        }
        .copyright {
            font-size: 10px;
            color: #fff;
            line-height: 16px;
            font-weight: 300;
            letter-spacing: 0;
        }
    }
    @media(min-width: $md) {
        padding: 40px 0;
        .container {
            padding: 0;
            .logo {
                position: absolute;
                top: 0;
                right: 0;
                width: 76px;
            }
            .sns-list {
                top: auto;
                bottom: 0;
                right: 0;
                > ul {
                    > li {
                        > a {
                            width: 40px;
                        }
                    }
                }
            }
            .terms {
                margin-top: 0;
                > ul {
                    > li {
                        > a {
                            font-size: 14px;
                        }
                        &:after {
                            height: 10px;
                            margin: 0 10px;
                        }
                    }
                }
            }
            .company {
                margin-top: 30px;
                > ul {
                    overflow: hidden;
                    > li {
                        float: left;
                        font-size: 12px;
                        line-height: 22px;
                        &:nth-of-type(4) {
                            clear: left;
                        }
                    }
                }
            }
            .copyright {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
}