@font-face {
    font-family: 'HGGGothicssi';
    font-weight: 00g;
    src: url(/assets/css/hggg/HGGGOTHICSSI_PRO_00G.woff);
}
@font-face {
    font-family: 'HGGGothicssi';
    font-weight: 20g;
    src: url(/assets/css/hggg/HGGGOTHICSSI_PRO_20G.woff);
}