@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("/assets/css/font.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 10px;
  color: #5f5f5f;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 50px;
  padding-bottom: 85px;
  letter-spacing: -.5px;
  word-break: keep-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }
  @media (min-width: 1024px) {
    body {
      padding-top: 70px;
      padding-bottom: 0; } }

.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .container {
      padding: 0 25px; } }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0 10px; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

hr {
  display: block;
  border: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  font-family: inherit;
  outline: none !important; }

a, button {
  color: #5f5f5f;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #5f5f5f; }

/*select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url();
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    background-size: auto;
    &::-ms-expand {
        display: none;
    }
}*/
/* common */
.section-header {
  text-align: center;
  padding: 35px 0 15px; }
  .section-header h3 {
    font-size: 16px;
    color: #222;
    font-weight: 500; }
  @media (min-width: 1024px) {
    .section-header {
      padding: 80px 0 45px; }
      .section-header h3 {
        font-size: 40px; } }

section {
  padding-bottom: 50px; }
  @media (min-width: 1024px) {
    section {
      padding-bottom: 100px; } }

/* jumbotron */
.jumbotron .jumbo-slider {
  position: relative; }
  .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide {
    outline: none;
    height: 356px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover; }
    .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide .container .summary {
      padding: 55px 10px 0; }
      .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide .container .summary h3 {
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        line-height: 18px;
        text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.49); }
        .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide .container .summary h3 span {
          color: #f68b1e; }
      .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide .container .summary p {
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        line-height: 16px;
        margin-top: 15px;
        text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.49); }
    .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide.item-1 {
      background-image: url(/assets/images/main/img_jumbotron_sm.png); }
    .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide.item-2 {
      background-image: url(/assets/images/main/img_jumbotron_sm.png); }
    .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide.item-3 {
      background-image: url(/assets/images/main/img_jumbotron_sm.png); }
  .jumbotron .jumbo-slider .slick-arrow {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 30px;
    display: block;
    outline: none;
    z-index: 1;
    font-size: 0;
    text-indent: -999999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 16px auto;
    transform: translateY(-50%); }
    .jumbotron .jumbo-slider .slick-arrow.slick-prev {
      left: 10px;
      background-image: url(/assets/images/main/btn_slick_prev.png); }
    .jumbotron .jumbo-slider .slick-arrow.slick-next {
      right: 10px;
      background-image: url(/assets/images/main/btn_slick_next.png); }
@media (min-width: 1024px) {
  .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide {
    height: 600px; }
    .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide .container {
      display: table;
      height: 100%; }
      .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide .container .summary {
        display: table-cell;
        vertical-align: middle;
        padding: 0; }
        .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide .container .summary h3 {
          font-size: 36px;
          line-height: 46px; }
        .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide .container .summary p {
          font-size: 28px;
          line-height: 38px;
          margin-top: 40px; }
    .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide.item-1 {
      background-image: url(/assets/images/main/img_jumbotron_lg.png); }
    .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide.item-2 {
      background-image: url(/assets/images/main/img_jumbotron_lg.png); }
    .jumbotron .jumbo-slider .slick-list .slick-track .slick-slide.item-3 {
      background-image: url(/assets/images/main/img_jumbotron_lg.png); }
  .jumbotron .jumbo-slider .slick-arrow {
    width: 50px;
    height: 94px;
    background-size: 50px auto; } }
@media (min-width: 1400px) {
  .jumbotron .jumbo-slider .slick-arrow.slick-prev {
    left: 100px; }
  .jumbotron .jumbo-slider .slick-arrow.slick-next {
    right: 100px; } }

/* short-rent */
.short-rent .section-content .tab-menu > ul {
  display: table;
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border: 1px solid #a4a4a4; }
  .short-rent .section-content .tab-menu > ul > li {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    border-right: 1px solid #a4a4a4; }
    .short-rent .section-content .tab-menu > ul > li > a {
      display: block;
      font-size: 10px;
      color: #5f5f5f;
      line-height: 26px;
      font-weight: 400;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .short-rent .section-content .tab-menu > ul > li > a:hover {
        opacity: .7;
        color: #fff;
        background-color: #222; }
    .short-rent .section-content .tab-menu > ul > li:last-child {
      border-right: 0; }
    .short-rent .section-content .tab-menu > ul > li.active > a {
      font-weight: bold;
      color: #fff;
      background-color: #222; }
      .short-rent .section-content .tab-menu > ul > li.active > a:hover {
        opacity: 1; }
.short-rent .section-content .tab-content {
  margin-top: 15px; }
  .short-rent .section-content .tab-content .tab-pane {
    visibility: hidden;
    height: 0; }
    .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider {
      position: relative; }
      .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide {
        outline: none; }
        .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a {
          display: block;
          font-family: 'HGGGothicssi'; }
          .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item {
            position: relative; }
            .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item > img {
              width: 100%; }
            .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item .mark {
              position: absolute;
              top: 0;
              left: 4.905vw;
              width: 21.27vw;
              height: 21.66vw;
              font-size: 6.22vw;
              line-height: 6.99vw;
              color: #fff;
              padding-top: 2.7vw;
              font-weight: 900;
              text-align: center;
              background-image: url(/assets/images/sub/img_mark.png);
              background-position: 0 50%;
              background-size: 100% auto;
              background-repeat: no-repeat; }
            .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item h4 {
              position: absolute;
              top: 10.555vw;
              left: 29.72vw;
              font-size: 7.78vw;
              color: #222;
              font-weight: 900; }
              .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item h4.type-2 {
                top: 2.7vw; }
            .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item .info {
              position: absolute;
              top: 20vw;
              left: 0;
              width: 100%;
              font-size: 0;
              display: block;
              text-align: center; }
              .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item .info p {
                font-size: 11vw;
                color: #ff8100;
                letter-spacing: -1px; }
                .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item .info p b {
                  font-size: 27vw;
                  font-weight: 900;
                  letter-spacing: -5px; }
                .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item .info p small {
                  display: inline-block;
                  font-size: 6vw;
                  text-align: right;
                  font-weight: 300; }
                  .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item .info p small span {
                    display: block;
                    color: #000;
                    font-size: 5vw;
                    text-decoration: line-through; }
                    .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .item .info p small span > i {
                      font-style: normal;
                      color: #f60000; }
          .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .details {
            font-family: 'Noto Sans KR', sans-serif;
            padding-top: 15px; }
            .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .details b {
              display: block;
              font-size: 22px;
              color: #222;
              font-weight: 600; }
            .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-list .slick-track .slick-slide > a .details p {
              font-size: 18px;
              color: #5f5f5f;
              font-weight: 400;
              margin-top: 10px; }
      .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-arrow {
        position: absolute;
        top: calc(50% - 32.5px);
        width: 16px;
        height: 30px;
        display: block;
        outline: none;
        z-index: 1;
        font-size: 0;
        text-indent: -999999px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 16px auto;
        transform: translateY(-50%); }
        .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-arrow.slick-prev {
          left: 0;
          background-image: url(/assets/images/main/btn_slick_prev.png); }
        .short-rent .section-content .tab-content .tab-pane .visible-sm .item-slider .slick-arrow.slick-next {
          right: 0;
          background-image: url(/assets/images/main/btn_slick_next.png); }
    .short-rent .section-content .tab-content .tab-pane .visible-lg {
      display: none; }
    .short-rent .section-content .tab-content .tab-pane.active {
      height: auto;
      visibility: visible; }
@media (min-width: 1024px) {
  .short-rent .section-content .tab-menu > ul > li > a {
    font-size: 28px;
    line-height: 68px; }
  .short-rent .section-content .tab-content {
    margin-top: 40px; }
    .short-rent .section-content .tab-content .tab-pane .visible-sm {
      display: none; }
    .short-rent .section-content .tab-content .tab-pane .visible-lg {
      display: block;
      font-size: 0; }
      .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider {
        position: relative; }
        .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide {
          outline: none; }
          .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul {
            overflow: hidden;
            width: calc(100% + 30px);
            margin: 0 -15px; }
            .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li {
              float: left;
              width: 33.33333333%;
              padding: 0 15px; }
              .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li:nth-of-type(3n + 1) {
                clear: left; }
              .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li:nth-of-type(3) ~ li {
                margin-top: 50px; }
              .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a {
                display: block;
                font-family: 'HGGGothicssi'; }
                .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item {
                  overflow: hidden;
                  position: relative; }
                  .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item img {
                    width: 100%;
                    -webkit-transition-property: all;
                    transition-property: all;
                    -webkit-transition-duration: 0.15s;
                    transition-duration: 0.15s;
                    -webkit-transition-timing-function: linear;
                    transition-timing-function: linear;
                    -webkit-transition-delay: 0s;
                    transition-delay: 0s; }
                  .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .mark {
                    position: absolute;
                    top: 0;
                    left: 0.9895833333333333vw;
                    width: 4.270833333333333vw;
                    height: 20.54794520547945vh;
                    font-size: 1.25vw;
                    color: #fff;
                    font-weight: 900;
                    padding-top: 0.5208333333333333vw;
                    text-align: center;
                    line-height: 1.40625vw;
                    background-image: url(/assets/images/main/img_mark.png);
                    background-repeat: no-repeat;
                    background-position: 50% 0;
                    background-size: 100% auto; }
                  .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item h4 {
                    position: absolute;
                    top: 2.083333333333333vw;
                    left: 5.989583333333334vw;
                    font-size: 1.5625vw;
                    color: #222;
                    font-weight: 900; }
                    .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item h4.type-2 {
                      top: 0.5208333333333333vw; }
                  .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info {
                    position: absolute;
                    top: 5.416666666666667vw;
                    left: 0;
                    width: 100%;
                    display: block;
                    text-align: center;
                    font-size: 0; }
                    .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info p {
                      font-size: 2.604166666666667vw;
                      letter-spacing: -1px;
                      color: #f68b1e;
                      font-weight: 900; }
                      .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info p small {
                        display: inline-block;
                        font-size: 1.5625vw;
                        text-align: right; }
                        .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info p small span {
                          color: #222;
                          text-decoration: line-through;
                          font-weight: 300; }
                          .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info p small span i {
                            font-size: 1.3541666666666667vw;
                            color: #f60000;
                            font-style: normal; }
                      .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info p b {
                        font-size: 6.25vw;
                        font-weight: bold;
                        letter-spacing: -4px; }
                .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .details {
                  font-family: 'Noto Sans KR', sans-serif;
                  padding-top: 15px; }
                  .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .details b {
                    display: block;
                    font-size: 24px;
                    color: #222;
                    font-weight: 600; }
                  .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .details p {
                    font-size: 20px;
                    color: #5f5f5f;
                    font-weight: 400;
                    margin-top: 10px; }
                .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a:hover .item img {
                  transform: scale(1.1); }
        .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-arrow {
          display: none !important; } }
        @media (min-width: 1024px) and (min-width: 1360px) {
          .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-arrow {
            position: absolute;
            top: 50%;
            width: 50px;
            height: 94px;
            z-index: 1;
            text-indent: -999999999px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 50px auto;
            display: block !important; }
            .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-arrow.slick-prev {
              left: -70px;
              background-image: url(/assets/images/main/btn_slick_prev.png); }
            .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-arrow.slick-next {
              right: -70px;
              background-image: url(/assets/images/main/btn_slick_next.png); } }
        @media (min-width: 1024px) and (min-width: 1400px) {
          .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-arrow.slick-prev {
            left: -116px; }
          .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-arrow.slick-next {
            right: -116px; } }

@media (min-width: 1200px) {
  .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .mark {
    left: 20px;
    width: 82px;
    height: 83px;
    font-size: 24px;
    line-height: 27px;
    padding-top: 10px; }
  .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item h4 {
    left: 115px;
    font-size: 30px; }
    .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item h4.type-2 {
      top: 10px; }
  .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info {
    top: 85px; }
    .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info p {
      font-size: 50px; }
      .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info p small {
        font-size: 30px; }
        .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info p small span i {
          font-size: 26px; }
      .short-rent .section-content .tab-content .tab-pane .visible-lg .item-slider .slick-list .slick-track .slick-slide > ul > li > a .item .info p b {
        font-size: 120px; } }

/* process */
.process {
  background-color: #ebebeb; }
  .process .section-content {
    overflow: hidden; }
    .process .section-content > ol {
      font-size: 0;
      text-align: center;
      width: calc(100% + 30px);
      margin: 0 -15px; }
      .process .section-content > ol > li {
        position: relative;
        display: inline-block;
        width: 33.333333333%;
        vertical-align: top;
        padding: 0 15px; }
        .process .section-content > ol > li:nth-of-type(3) ~ li {
          margin-top: 15px; }
        .process .section-content > ol > li ~ li:before {
          position: absolute;
          top: 0;
          left: -5px;
          content: '';
          width: 12px;
          height: 100%;
          background-image: url(/assets/images/main/ico_arrow.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 12px auto; }
        .process .section-content > ol > li > figure {
          display: inline-block;
          width: 100%;
          text-align: center;
          padding: 20px 0;
          border: 1px solid #f68b1e;
          background-color: #fff; }
          .process .section-content > ol > li > figure img {
            display: block;
            width: 30px;
            margin: 0 auto; }
          .process .section-content > ol > li > figure figcaption {
            font-size: 10px;
            color: #5f5f5f;
            font-weight: 400;
            margin-top: 10px; }
  @media (min-width: 1024px) {
    .process .container .section-content > ol {
      width: calc(100% + 60px);
      margin: 0 -30px; }
      .process .container .section-content > ol > li {
        width: 20%;
        padding: 0 30px; }
        .process .container .section-content > ol > li:nth-of-type(3) ~ li {
          margin-top: 0; }
        .process .container .section-content > ol > li ~ li:before {
          left: -12px;
          width: 25px;
          background-size: 25px auto; }
        .process .container .section-content > ol > li > figure {
          padding: 30px 0 35px; }
          .process .container .section-content > ol > li > figure img {
            width: 60px; }
          .process .container .section-content > ol > li > figure figcaption {
            font-size: 20px;
            margin-top: 15px; } }

/* banner */
.banner > a {
  display: block;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 16px;
  padding: 20px 0;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(/assets/images/main/bg_banner_sm.png); }
  .banner > a b {
    color: #ff961a;
    font-weight: bold; }
@media (min-width: 1024px) {
  .banner > a {
    font-size: 36px;
    line-height: 44px;
    padding: 60px 0;
    background-image: url(/assets/images/main/bg_banner_lg.png); } }

/* estimate */
.estimate .section-content {
  padding: 0 30px; }
  .estimate .section-content .form-control {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #5f5f5f;
    padding: 0 10px;
    height: 28px;
    border-radius: 0;
    border: 1px solid #cecece; }
    .estimate .section-content .form-control::placeholder {
      color: #5f5f5f;
      opacity: 1; }
    .estimate .section-content .form-control:-ms-input-placeholder {
      color: #5f5f5f; }
    .estimate .section-content .form-control::-ms-input-placeholder {
      color: #5f5f5f; }
  .estimate .section-content textarea {
    padding: 5px 10px !important;
    resize: none;
    height: 86px !important; }
  .estimate .section-content ul li dl {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .estimate .section-content ul li dl dt, .estimate .section-content ul li dl dd {
      display: table-cell;
      vertical-align: top; }
    .estimate .section-content ul li dl dt {
      width: 56px;
      font-size: 12px;
      line-height: 28px;
      color: #222;
      text-align-last: justify;
      padding-right: 15px; }
  .estimate .section-content ul li ~ li {
    margin-top: 15px; }
  .estimate .section-content .btn-area {
    text-align: center;
    margin-top: 10px; }
    .estimate .section-content .btn-area .btn-submit {
      display: block;
      width: 100%;
      max-width: 430px;
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      line-height: 34px;
      margin: 0 auto;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      background-color: #f68b1e; }
      .estimate .section-content .btn-area .btn-submit:hover {
        opacity: .7; }
    .estimate .section-content .btn-area label {
      display: inline-block;
      font-size: 10px;
      color: #5f5f5f;
      line-height: 18px;
      font-weight: 400;
      margin-top: 10px; }
      .estimate .section-content .btn-area label input[type="checkbox"] {
        position: relative;
        top: 2.5px; }
      .estimate .section-content .btn-area label > a {
        display: inline-block;
        margin-left: 5px;
        color: #5f5f5f;
        border-bottom: 1px solid #5f5f5f; }
@media (min-width: 1024px) {
  .estimate .section-content {
    padding: 0 30px; }
    .estimate .section-content .form-control {
      font-size: 18px;
      height: 44px;
      padding: 0 20px; }
    .estimate .section-content textarea {
      height: 110px !important;
      padding: 7px 20px !important; }
    .estimate .section-content ul {
      overflow: hidden; }
      .estimate .section-content ul li {
        float: left;
        width: 50%; }
        .estimate .section-content ul li ~ li {
          margin-top: 0; }
        .estimate .section-content ul li:nth-of-type(2) ~ li {
          margin-top: 30px; }
        .estimate .section-content ul li:nth-of-type(2n + 1) {
          clear: left;
          padding-right: 35px; }
        .estimate .section-content ul li:nth-of-type(2n + 2) {
          padding-left: 35px; }
        .estimate .section-content ul li:last-child {
          width: 100%;
          padding: 0; }
        .estimate .section-content ul li dl dt {
          width: 90px;
          font-size: 20px;
          line-height: 44px;
          padding-right: 18px; }
    .estimate .section-content .btn-area {
      margin-top: 35px; }
      .estimate .section-content .btn-area .btn-submit {
        font-size: 32px;
        line-height: 58px; }
      .estimate .section-content .btn-area label {
        font-size: 16px;
        margin-top: 20px; }
        .estimate .section-content .btn-area label input[type="checkbox"] {
          top: 1px; } }

/*# sourceMappingURL=main.css.map */
